body {
    font-family: Roboto, sans-serif;

    height: 150vh;

    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;

    border: 2px solid white;
    border-radius: 8px;

    width: 100px;
    height: 30px;

    margin: 32px 0px;
}

img {
    border-radius: 8px;
}

.hero-section, .product-section, .quote-section, .footer {
    flex: 1;
    padding: 0px 200px 64px 200px;
    margin: -10px;
}

/* Hero & footer styles */
.hero-section, .footer {
    background-color: #1F2937;
}

.header, .intro {
    color: #F9FAF8;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 16px;
}

.intro {
    margin-top: 32px;
}

.intro button {
    width: 150px;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.intro-text h1 {
    font-size: 48px;
    font-weight: 900;

    margin-bottom: 0px;
}

.intro-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section button {
    border: none;
}

.footer {
    color: #F9FAF8;
  
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 0;
    padding: 0px;
}

/* Product section styles */
.product-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-section h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;

    margin: 48px;
}

.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    color: #5c5c5d;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 36px 36px 36px;
}

.item img {
    border: 5px solid #3882F6;
    border-radius: 8px;
}

/* Quote section styles */
.quote-section {
    background-color: #E5E7EB;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 50px 250px;
}

.quote-section p {
    color: #1F2937;
}

.quote-section p em {
    font-size: 36px;
    font-weight: 300px;

    padding: 0px;
    margin: 0px;
}

/* Opt in section styles */
.opt-in-section {
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.opt-in-info {
    background-color: #3882F6;
    border-radius: 8px;
    
    min-width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 16px 108px;
}

.opt-in-text {
    color: #F9FAF8;
    margin: 24px; 
}

.opt-in-text h5 {
    font-size: 20px;
    margin: 0px auto;
}

.opt-in-text p {
    color: #F9FAF8;
    font-size: 14px;

    margin: 0px auto;
}